

= render 'layouts/subnav'

%h2 Owned Projects

%table.table.talbe-striped
  %thead
    %tr
      %th Name
      %th Owner
      %th.pull-right Action
  %tbody
    = render :partial => 'projects/index', :locals => { :projects => @profile.owns }
