%li
  = event.author_email
  - if event.push?
    %span.label.label-warning PUSHED
    to #{event.data[:ref].gsub(/[\w\/]+\//,'').upcase} at
  - if event.create?
    %span.label.label-success CREATED
    Project Named
  - if event.update?
    %span.label.label-info UPDATED
    Project Info at
  = link_to event.project_name, [event.project], :class => 'label label-inverse'
  = time_ago_in_words(event.created_at)
  ago
