=render 'layouts/subnav'

%h1
  Projects
  = link_to "New Project", [:new, :project], :class => "btn pull-right"
%hr

%table.table.table-striped
  %tbody
    = render :partial => "index", :locals => {:projects => @projects}
