<h1>Hello</h1>
<p>
  I'm trying to write a page with Ruby
</p>

<div>
  <%= link_to "New Project", new_project_path %>
  <%= link_to "Show Keys", [:keys]%>
</div>

<div>
  <p>
    Here is the projects list:
  </p>
  <% for p in @projects %>
  <div>
    <p>Project name: <%= link_to  p.name, [p]%>
    <p>Project owner: <%= p.owner.email %></p>
  </div>
  <% end %>
</div>
