%div
  = link_to "New Project", new_project_path
  = link_to "Show Keys", [:keys]
%div
  %p
    Here is the projects list:
  - for p in @projects
    %div
      %p
        Project name: 
        = link_to  p.name, [p]
      %p
        Project owner: 
        - if p.try(:owner)
          = p.owner.email
        - else
          nil

