/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

#admin_area{
  margin-right: -20px;
}

.action1{
  width: 60px;
}

.action2{
  width: 120px;
}
.action3{
  width: 180px;
}

ul.events {
  li {
    padding: 12px 0;
    list-style: none;
    border-bottom: 1px solid #DDD
  }
}
